# Binarios y compilados
*.exe
*.out
*.o
*.a
*.so
*.dll
*.AppImage

# Directorios de build
squashfs-root/
build/
bin/
obj/
Debug/
Release/

# Dependencias y generados
.vscode/
.idea/
*.AppDir